@{
	ViewBag.Title = "About GallowayTech MVC";
}
<h2>@ViewBag.Title</h2>

@*<h3>@ViewBag.Message</h3>*@

<h3>This is the personal and professional site for Jason Galloway.</h3>

<p>This site is an extension of the original GallowayTech site <a href="http://gallowaytech.com" target="_blank">http://gallowaytech.com</a>.  
	This site is being developed using Visual Studio 2017, ASP .NET C#, MVC 5.0, Entity Framework 6.0, MS SQL Server 2012.
	This site is currently under 
	development using an Agile methodology in iterative releases.  My hope is to have at least one release 
	a day following user stories.  I will be maintaining a design and development page with design docs, etc.
	At the end of this project this site will be optimized to a Single Page Application.  This site is 
	used as a training and recruitement tool.  As such you will find job history, 
	professional information, a little about me and a small blog if I am able to keep it up to date.  Feel 
	free to drop me a line: <a href="mailto:jason@gallowaytech.com?subject=About%20GallowayTech%20MVC">Jason Galloway</a>
	<br />
	<br />
	Thanks, Jason.
</p>
