@{
    ViewBag.Title = "Contact GallowayTech";
}
<h2>@ViewBag.Title</h2>

@*<h3>@ViewBag.Message</h3>*@

<address>
    GallowayTech<br />
    Austin, Texas 78753<br />
</address>

<address>
	<strong>Email: </strong><a href="mailto:jason@gallowaytech.com?subject=About%20GallowayTech%20MVC">Jason Galloway</a>
</address>